.register-login-box{
    width: 40%;
    margin: auto;
    justify-items: center;
}

.display-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:50px;
}

.card-title{
    text-transform: none; 
     letter-spacing: 0px;
}

.todo-card{
    padding: 10px;
   background-color: gainsboro;
}

.bottom-right{
    float:right;
}

@media screen and (max-width: 900px) {
    .register-login-box{
        width: 65%;
    }

    .display-grid{
        grid-template-columns:1fr 1fr;
       grid-gap: 20px;
    }
  }
@media screen and (max-width: 480px) {
    .register-login-box{
        width: 80%;
    }

    .display-grid{
        display: grid;
        grid-template-columns: 1fr;
       
    }
  }



  .equi{
    display:'flex';
    flex: 1
  }


  
.highscore-cont {
    width: 30%;
    color: white
}



.highscore {
    background-color: rgba(255, 231, 231, 0.904);
    max-width: 300px;
    height: 40%;
    margin: 0 auto;
    border: 3px solid rgb(255, 255, 255);
}

.highscore-cont h1 {
    text-align: center;
    color: white
}

.home {
    text-align: center;
    justify-content: center;
   
}
.home .board {
    display: flex;
    height: 100vh;
    background-color: #010317;
}

.board .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.card-cont {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.onecard {
    width: 130px;
    height: 170px;
    background-color: #e7dddd;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 1rem;
}
.show-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.show-btn:hover {
    background-color: #0056b3;
}

.show-btn:hover {
    background-color: #0056b3;
}

h1 {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0)
}

h2 {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    color: white
}
.btn {
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}